name: Tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    name: Run golint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v7
        with:
          version: v2.1.6

  test:
    name: Build and run all tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: build
        run: docker compose --env-file=test/compose/.env.test -f test/compose/docker-compose.yml run composectl make
      - name: test
        run: docker compose --env-file=test/compose/.env.test -f test/compose/docker-compose.yml run composectl make test-e2e
      - name: teardown test env
        run: docker compose --env-file=test/compose/.env.test -f test/compose/docker-compose.yml down

  package:
    strategy:
      fail-fast: true
      matrix:
        os:
          - ubuntu-24.04
          - ubuntu-24.04-arm

    runs-on: ${{matrix.os}}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Debian packaging
        run: |
          set -eux
          make deb-ci
          make deb-test
